form {
  margin:50px auto;
  width: 400px;
  height: 630px;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  text-align: center;
  background-color: lightseagreen;

}

.error {
  color:darkred;
  font-size: 20px;
}
.inputError {
 border-color: darkred;

}

input {
  margin-top: 30px;
width: 250px;
height: 40px;
border-radius: 10px;
font-size: 18px;



}
.label {
  font-size: 30px;
  color:white;
  position: relative;
  top:20px;
  
}
button {
width: 200px;
height: 40px;
font-weight: 700;
margin-top: 30px;
background-color: darkred;
color: white;
font-size: 20px;
border-radius: 10px;

}
.box{
margin-top: 30px;

}